/* h1 {
  color:green;
}

p {
  color: yellow;
}

button {
  color:blue;
  background-color:skyblue;
}
  
body {
  background-color:#D8E2DC;
} */

/* *{
  color:pink;
} */


/* #headingOne {
  color:blue;
  }
#headingTwo {
  color:yellow
}

.myClass {
  color: chocolate;
}

button {
  color:purple;
}

#headingOne {
  text-align:left;
  }

#headingTwo {
  text-align:right;
  }

.myClass {
  text-align:center;
  }

#mainH {
  text-align:center;
  text-decoration:line-through;
  }

#head1 {
  font-weight:100;
  }
#head2 {
  font-weight:300;
  }
#head3 {
  font-weight:600;
  }
#head4 {
  font-weight:900;
} */

#one {
  font-family:arial;
  }

#pg1 {
  font-size:25px;
  }
#pg3 {
  font-size:10px;
  }
#pg2 {
  line-height:50px;
  text-transform:capitalize;
  }